**
!graphics/icon_128x128.png
!graphics/skript icon.png
!server/dist/browserServerMain.js
!client/dist/browserClientMain.js
!LICENSE
!language-configuration.json
!themes/*
!server/assets/addons/*
!README.md
!package.json
